<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Expense Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Expense Tracker</h1>
        <!-- filters -->
        <!-- Button to the "/add" route -->
        <a href="/add"><button>Add New Expense</button></a>
    </div>

</body>
</html>